<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>About CBYK</title>

</head>
<body>
<!-- Navigation-->
<nav  th:insert="maintemplate.html :: topnavbar"></nav>


<!-- Page Header-->

<header th:insert="maintemplate.html :: header"></header>

<!-- Main Content-->


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


            <h4>My name is Chirag and as of January 2022 </h4>
            <h4>I have a 6.5 years experience working in  </h4>
            <h4>Java based technologies and also a significant </h4>
            <h4>experience in Cloud, Front end and Microservices</h4>

            <h3>My Tech Stack: </h3>
            <ul>
                <li>Java 8</li>
                <li>Spring Boot</li>
                <li>Spring Security</li>
                <li>Microservices</li>
                <li>AWS - EC2, S3 , SQS</li>
                <li>CI/CD - Jenkins , Bitbucket Pipelines</li>
                <li>MongoDB , Mysql , Redis , RabbitMQ</li>
            </ul>
            <!--            <h4> </h4>-->
            <!--            <h4> </h4>-->



        </div>
    </div>
</div>

<!-- Footer-->

<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>

</body>
</html>