<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>About CBYK</title>

</head>
<body>
<!-- Navigation-->
<nav th:insert="maintemplate.html :: topnavbar"></nav>


<!-- Page Header-->

<header th:insert="maintemplate.html :: header"></header>

<!-- Main Content-->


<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <p>
                    Hi, My name is Chirag.
                </p>

                <p>
                    I have an experience of more than 6 years in IT working as a Software Developer and
                    during this course of time, I have worked in various domains starting with Fintech Domain
                    in the first few years and then gradually worked in Insure-tech domain developing the solution
                    as a content management system. Developing this CMS, allowed me to work on
                    a Microservice and Reactive architecture. Recently ,I got this opportunity to work
                    on a Human Resource Management system which is one of the leading enterprise solutions
                    in the market and through this opportunity I am looking forward to work on a big enterprise
                    product.
                </p>

                <p>
                    My forte has always been Java based technologies and frameworks, and recently I have
                    gained experience in developing front end of the products too mixed with Cloud technologies
                    taking AWS as platform. For the front end , I have experience in Angular and React.
                    I also got to work with Msql and Mongodb as databases and RabbitMq and Redis as supporting
                    technologies.
                </p>

                <p>
                    My Tech stack includes:
                <ul>
                    <li>Java, Springboot , Grails , Groovy</li>
                    <li>Spring Security</li>
                    <li>Angular</li>
                    <li>Redis , Mongodb</li>
                    <li>AWS - SQS, EC2 , SNS , S3</li>
                </ul>
                </p>


            </div>
        </div>
    </div>
</article>


<!-- Footer-->

<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>

</body>
</html>