<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>Blogg List</title>

</head>
<body>
<!-- Navigation-->
<nav  th:insert="maintemplate.html :: topnavbar"></nav>


<!-- Page Header-->

<header th:insert="maintemplate.html :: header"></header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


            <div th:each="blog : ${blogList}">

                <!-- Post preview-->
                <div class="post-preview">
                    <!--                    <a th:href="@{/view/{id}/{faker1}(id=${blog.id},fak1='dcbjrmi73')}">-->
                    <a th:href="@{/view/{faker1}/{id}/{faker2}(id=${blog.id},faker1=${faker1},faker2=${faker2})}">
                        <h2 class="post-title" th:text="${blog.title}"></h2>
                        <h3 class="post-subtitle" th:text="${blog.subTitle}"></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Flanker</a>
                        on January 18, 2022
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4"/>

            </div>

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
            </div>


        </div>
    </div>
</div>
<!-- Footer-->

<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>

</body>
</html>
