<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>Contact</title>

</head>
<body>
<!-- Navigation-->
<nav th:insert="maintemplate.html :: topnavbar"></nav>


<!-- Page Header-->

<header th:insert="maintemplate.html :: header"></header>

<!-- Main Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">


                <h3>Please feel free to reach me out on below channels</h3>
                <br>
                <br>
                <ul>
                    <li><span><b><u>Email :</u></b></span>
                        <br/>chiragbhasin248@gmail.com ,
                               cbitanium2@gmail.com></li>
                    <br/>
                    <li><b><u>Phone :</u></b> <br/>
                        <img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-india-flag-countrys-flags-justicon-flat-justicon.png"/>
                        +91 - 9654538123 , 7678256653</li>
                    <br/>
                    <li><b><u>LinkedIn :</u></b> <br/>https://www.linkedin.com/in/chirag-bhasin-6118bba7/</li>
                </ul>


            </div>
        </div>
    </div>
</article>

<!-- Footer-->

<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>

</body>
</html>