<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>Contact</title>

</head>
<body>
<!-- Navigation-->
<nav  th:insert="maintemplate.html :: topnavbar"></nav>


<!-- Page Header-->

<header th:insert="maintemplate.html :: header"></header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


            <h3>You can reach out to me via -</h3>
            <ul>
                <li><b>Email    :    chiragbhasin248@gmail.com , cbitanium2@gmail.com</b>></li>
                <li><b>Phone    :    9654538123</b>></li>
                <li><b>Linkedin :    https://www.linkedin.com/in/chirag-bhasin-6118bba7/</b>></li>
            </ul>
<!--            <h4> </h4>-->
<!--            <h4> </h4>-->



        </div>
    </div>
</div>

<!-- Footer-->

<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>

</body>
</html>