<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <th:block th:include="maintemplate.html :: headerfiles">
    </th:block>
    <title>Create Post - Blogg</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.2/tinymce.min.js'></script>


</head>
<body>
<!-- Navigation-->
<nav th:insert="maintemplate.html :: topnavbar"></nav>

<!-- Page Header-->
<header th:insert="maintemplate.html :: header"></header>


<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
<!--                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>-->
                <div class="my-5">

                    <form id="blogForm" method="post" th:action="@{/admin/saveBlog}" data-sb-form-api-token="API_TOKEN" >
                        <div class="form-floating">
                            <input  class="form-control" name="title" id="title" type="text" placeholder="Enter Title..." data-sb-validations="required" />
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Title is required.</div>
                        </div>
                        <br/>

                        <div class="form-floating">
                            <textarea style="border: solid 2px darkgray" placeholder="Enter Blog Post" id="blogBodyTextarea" name="blogBodyTextarea" rows="15" cols="70"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Body is required.</div>
                        </div>

                        <input type="hidden" id="blogBody" name="blogBody">


                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->

<!--                        <div class="text-center text-danger mb-3">Please click on Get Data Button before Send</div>-->
<!--                        <button class="btn btn-primary text-uppercase" onclick="getRawContent()" type="submit">Get Data</button>-->


                        <button class="btn btn-primary text-uppercase" id="submitButton"
                                type="submit" onclick="getRawContent()" >Send</button>
                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->


<footer th:insert="maintemplate.html :: footer"></footer>

<span th:insert="maintemplate.html :: scriptfiles"></span>
<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
<script>

function getRawContent(){
$("#blogBody").val(tinymce.activeEditor.getContent({format : 'raw'}));
}

tinymce.init({
    selector: 'textarea#blogBodyTextarea',
    plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
    imagetools_cors_hosts: ['picsum.photos'],
    menubar: 'file edit view insert format tools table help',
    toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
    toolbar_sticky: true,
    autosave_ask_before_unload: true,
    autosave_interval: "30s",
    autosave_prefix: "{path}{query}-{id}-",
    autosave_restore_when_empty: false,
    autosave_retention: "2m",
    image_advtab: true,
    /*content_css: '//www.tiny.cloud/css/codepen.min.css',*/
    link_list: [
        { title: 'My page 1', value: 'https://www.codexworld.com' },
        { title: 'My page 2', value: 'https://www.xwebtools.com' }
    ],
    image_list: [
        { title: 'My page 1', value: 'https://www.codexworld.com' },
        { title: 'My page 2', value: 'https://www.xwebtools.com' }
    ],
    image_class_list: [
        { title: 'None', value: '' },
        { title: 'Some class', value: 'class-name' }
    ],
    importcss_append: true,
    file_picker_callback: function (callback, value, meta) {
        /* Provide file and text for the link dialog */
        if (meta.filetype === 'file') {
            callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
        }

        /* Provide image and alt text for the image dialog */
        if (meta.filetype === 'image') {
            callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
        }

        /* Provide alternative source and posted for the media dialog */
        if (meta.filetype === 'media') {
            callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
        }
    },
    templates: [
        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
        { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
        { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
    ],
    template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
    template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
    height: 600,
    image_caption: true,
    quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
    noneditable_noneditable_class: "mceNonEditable",
    toolbar_mode: 'sliding',
    contextmenu: "link image imagetools table",
});
</script>
</body>
</html>
